/*{border:1px solid red;}*/

.wrapper{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content: center;
	min-height: 100%;
	padding:20px;
	width:100%;
	color: #00ff00;
}

.formContent{
	border-radius:10px 10px 10px 10px;
	padding:30px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
}


/*ESTILOS LOGIN*/
body{
    background-image: url(fondoverde.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 100%;
    padding: 15px;
}

.login{
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 7px 13px 37px #aaa;
}
h1{
    text-align: center;
    font-size: 30px;
}
.controls{
    font-size: 16px;
    width: 82%;
    padding: 10px;
    border: none;
}
.contenedor_icono{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.contenedorimagenes{
    display: flex; 
    justify-content: space-between;
    gap: 45px;
}
.imagen{
    width: 60px;
    max-height: 200px;
    
}
.boton{
    width: 330px;
    background: #70A404;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.fa-key{
    min-width: 50px;
    text-align: center;
}
