*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../ejm/img/fondoverde.jpg);
    border: sollid black;
}

.login{
    width: 400px;
    background: white ;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    
    text-align: center;
    padding: 20px;
    box-shadow: 7px 13px 37px #000;
}
.imagenes{
    display: flex; 
    justify-content: space-between;
    gap: 45px;
}
.imagen{
    width: 60px;
    max-height: 200px;
    
}
.controls{
    
    padding: center;
    
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    color: #000;
}
.boton{
    width: 100%;
    background: #70A404;
    border: none;
    padding: 12px;
    color: white;
    margin: 5px 0;
    font-size: 16px;
}